[submodule "googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/altera-jtag"]
	path = vendor/altera-jtag
	url = ssh://git@git.jamieiles.com:8022/jamieiles/jtag.git
