`ifndef MICROCODE_TYPES
`define MICROCODE_TYPES

<%#enums%>
typedef enum bit [<%high_bit%>:0] {
<%#items%>
    <%name%> = <%value%>
<%/items%>
} <%name%>;
`define <%name%>_BITS <%num_bits%>

<%/enums%>
`endif // MICROCODE_TYPES
